[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - erikdubois/Ultimate-Solus: automated script installation of software
Type=Link
URL=https://github.com/erikdubois/Ultimate-Solus
Icon=text-html
