[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/Solusi3: Automatic installation of all necessary programs
Type=Link
URL=https://github.com/erikdubois/Solusi3
Icon=text-html
